@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';

.container{
    padding: 0 30px;
}

.listView{
    width: 100%;
    border: 1px solid rgba(221, 221, 221, 0.74);
    border-radius: 20px;
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.151);
    padding: 14px 0;
    margin: 15px auto;
}
.listView .col-6{
    padding: 0 13px;
}
.listView .title{
    display: block;
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.listView .desc{
    display: block;
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;


    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.backIcon{
    width: 35px;
    height: 35px;
}
.backIcon:hover{
    fill: rgb(0, 102, 255);
}

.btn{
    border: 1px solid #ddd;
    border-radius: 15px;
    font-weight: bolder;
    background-color: #FFF;
}
.btn:focus{
    outline: none;
    box-shadow: none;
}

.btnUpper{
    width: 100%;
}

.btnDone{
    width: 420px;
    height: 55px;
}
.btnDone:hover{
    transition: all 0.5s;
    background-color: #eee;
}