/* star rating */
.rating {
    height: 45px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 6vw;
    color: #fdff8b;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


/* rating box */
.starBox{
    width: 420px;
    border: 1px solid rgba(221, 221, 221, 0.74);
    border-radius: 10px;
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.151);
    padding: 12px 20px;
    margin: 15px auto;
}
.starBox p{
    font-weight: bold;
    font-size: 13px;
    margin: 11px 24px 7px;
}