@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';

.container{
    padding: 0 30px;
}
a{
    text-decoration: none !important;
    color: inherit;
}
a:hover{
    color: inherit;
}


/* list View */
.listView{
    width: 100%;
    border: 1px solid rgba(221, 221, 221, 0.74);
    border-radius: 18px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.151);
    padding: 15px 0;
    margin: 20px auto;
}
.listViewAni{
    animation: example 1s;
}
@keyframes example {
    0% {opacity: 0;}
    35% {opacity: 0;}
    100% {opacity: 1;}
}
.listView .col-6{
    padding: 0 13px;
    max-height: 107px;
    overflow: hidden;
}
.listView .thumbnail{
    width: 193px;
    position: relative;
    top: -18.5px;
}
.listView .title{
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0 10px;
}
.listView .desc{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
}


/* goBack */
.backIcon{
    width: 35px;
    height: 35px;
}
.backIcon:hover{
    fill: #2786c5;
}


/* button default */
.btn{
    border: 1px solid #ddd;
    border-radius: 15px;
    font-weight: bolder;
    background-color: #FFF;
}
.btn:focus{
    outline: none;
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.151);
}

/* upper menu */
.upperMenu{
    margin: 10px auto 30px;
}
.upperMenu .btn{
    width: 80px;
    height: 40px;
}
.upperMenu .btn:hover{
    transition: all 0.3s;
    background-color: #2786c5;
    color: #FFF;
}

/* 시청완료 btn */
.btnDone{
    width: 100%;
    height: 55px;
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.151);
}
.btnDone:hover{
    background-color: #2786c50f;
    transition: ease-in 0.3s;
}